html {
  background: black;
  
}

button {
    background-color: #00008B; /* black */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	border-radius: 12px;
}

button:hover {
    background-color: white; /* Green */
    color: black;
	border: 2px solid black;
	padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	border-radius: 12px;
}



body {
  font: bold 12px Georgia, serif; 
  color: #00008B;
  margin-left: 5px;
  margin-right: 5px;  
  background-image: url("blue.jpg");
    background-color: #cccccc;
}

label {
	
	font: bold 18px Georgia, serif;
	color: #00008B;
}

input,
select,
textarea {
  border: 1px solid ;
  border-radius: 5px;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 5px;
  width: 95%;
}
#review
{
  height:150px;
  
} 
div {
    font: bold 15px Georgia, serif;
	color: #00008B;
    width: 500px;
	
	
	
}

a {
  width: 50%;
  text-decoration: none;
}

a:link {
    color: #648888;
}

a:visited {
    color: white;
}

a:hover, a:active {
    color: #1789D4;
}


#alchemy {
  font: 10px Helvetica, Arial, sans-serif;
}


#sourceURL {
    font-weight: normal;
}
